extends ../layout.pug

block content
  div.movie-container
    h2 This site shows selected movie information
  table.table.table-striped
                  thead
                      tr
                          th(scope="col" class="table-primary") Title
                          th(scope="col" class="table-info") Description
                          th(scope="col" class="table-info") Category
                          th(scope="col" class="table-info") Rating
                          th(scope="col" class="table-info") Created

                  tbody
                      tr
                          td(scope="col")= selectedMovie.title
                          td(scope="col")= selectedMovie.description
                          td(scope="col")= selectedMovie.category
                          td(scope="col")= selectedMovie.rating
                          td(scope="col")= selectedMovie.created
  div.movie-container
    a(href="/admin/update/" + selectedMovie._id class="btn btn-info margin-right") Update Movie
    a(href="/admin/delete/" + selectedMovie._id class="btn btn-danger margin-right") Delete Movie 
    a(href="/" class="btn btn-info margin-right") Go back
          

