extends ./layout.pug

block content
    a(href="/create" class="btn btn-primary margin-right") Create Movie
    a(href="/categories" class="btn btn-info margin-right") Find by Specific Category
    a(href="/rating" class="btn btn-info margin-right") Find by Specific Rating
    a(href="/deleteAll" class="btn btn-danger") Delete all movies
    
    div.movie-container.container-fluid
        table.table.table-hover
            thead
                tr
                    th(scope="col" class="table-primary") Title
                    th(scope="col" class="table-info") Description
                    th(scope="col" class="table-info") Category
                    th(scope="col" class="table-info") Rating
                    th(scope="col" class="table-info") Create
            each movie in movies
                    tbody
                        tr
                            td(scope="col")= movie.title
                            td(scope="col")= movie.description
                            td(scope="col")= movie.category
                            td(scope="col")= movie.rating
                            td(scope="col")= movie.created
                                a(href="/movie/" + movie._id class="btn btn-info margin-left" ) Select 
